:root{
    --primary : #f6f6f6;
    --secondary : #ffbb91;
    --third : #e6951c;
    --dark : #515070;
    --light : #f6f6f6;
    --danger : #ec4646;
    --light-grey : #f4f9f9;
    --dark-grey : #dddddd;
    --white: #ffffff;
    --one : #ff5c5c;
    --two : #ab5454;
    --three : #a8a8a8;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* .give-border{
    border: 1px solid white;
} */

.bighover{
    font-size: inherit;
    transition: 0.5s;
}

.bighover:hover{
    font-size: 19px;
}

.hr-style{
    background-color: var(--dark);
    border-color: var(--dark);
    width: 65px;
    height: 3px;
    border-radius: 30%;
}

/* header sampai deskripsi singkat */
.background-photo{
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/jumbotron.jpg);  */
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* container div header */
.header{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

/* tulisan dalam header kanan */
.header-text{
    color: white;
    margin-left: 10px;
}

/* mouse over link */
#header-hover:hover{
    color: var(--warna-third);
}
  
/* selected link */
#header-hover:active {
    color: var(--warna-dark);
    font-weight: normal;
}

.judul-nama-atas{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 75px;
    color: white;
}

.judul-nama{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 75px;
    color: var(--warna-gold);
}

.judul-section{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 90px;
    color: var(--warna-gold);
    font-size: 20px; 
    font-weight: 400;
}

/* foto profil */
.foto-diri{
    position: relative;
    margin-top: -60px;
    text-align: center;
    z-index: 1;
}

/* konten deskripsi singkat */
.deskripsi-singkat{
    margin-top: 120px;
    font-weight: 400;
    line-height: 15px;
    color: white;
}

.aboutme-profile{
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin: 0px 250px;
}

.aboutme-judulprofile{
    letter-spacing: 3px;
    color: white;
    width: 10%;
    
}

.aboutme-isiprofile{
    color: white;
    width: 40%;
}

.aboutme-deskripsiprofile{
    text-align: justify;
    width: 50%;
    color: white;
    padding-left: 20px;
    /* tanya ini besok, bordernya kelebihan gmn cara nguranginnya */
}

.space-antar-konten-profile{
    margin: 0px 0px 20px 0px;
}

.logos{
    display: flex;
    width: 20px;
}

.logos .logos-palingkiri{
    margin-left: 0px;
}

.logos .logos-sisanya{
    margin-left: 20px;
}

.skill-progress{
    margin: 0px 0px 10px 0px;
    letter-spacing: 2px;
}

.hourglass{
    width: 12px;
    display: block;
    margin-left: auto;
    margin-right: 15px;
}

.skill-percentage{
    text-align: right;
    margin-right: 8px;
    margin-top: 15px;
    letter-spacing: 0px;
}

.what-i-offer-outsidebox{
    margin: 0px 250px;
}

.what-i-offer-logo{
    color: white;
    padding:10px;
    width: 130px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.education-profile{
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin: 0px 250px;
}

.education-judulprofile{
    letter-spacing: 4px;
    color: white;
    width: 30%;
    font-size: 18px;
    /* width : 30% */
}

.education-isiprofile{
    color: white;
    width: 50%;
}

.education-deskripsiprofile{
    width: 20%;
    color: white;
    margin-left: 20px;
}

.question-form-style{
    margin: 0px 500px;
}

.question-form-each{
    margin-top: 10px;
}

/* Container holding the image and the text */
.container-contact {
    position: relative;
    text-align: center;
}
  
/* Centered text */
.centered-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
